# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Aper_bot.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\csharp\Aper_Bot\Aper_bot\Aper_bot\.idea\.idea.Aper_bot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
